pipeline/Copia_Tabelas_Sql.json
{
	"name": "Copia_Tabelas_Sql",
	"properties": {
		"activities": [
			{
				"name": "ForEach_rji",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "Copy_rji",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "landing//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "stack_atom_source_sql_server_all",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "stack_atom_destination_data_lake_landing_all",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "stack-atom-processing-notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach_rji",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/atom.daniel.mota_outlook.com#ext#@atomdanielmotaoutlook.onmicrosoft.com/stack-atom-processing"
				},
				"linkedServiceName": {
					"referenceName": "stack_atom_linked_service_Azure_Databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "olist_customers_dataset"
						},
						"destination": {
							"fileName": "dboolist_customers_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_geolocation_dataset"
						},
						"destination": {
							"fileName": "dboolist_geolocation_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_order_items_dataset"
						},
						"destination": {
							"fileName": "dboolist_order_items_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_order_payments_dataset"
						},
						"destination": {
							"fileName": "dboolist_order_payments_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_order_reviews_dataset"
						},
						"destination": {
							"fileName": "dboolist_order_reviews_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_orders_dataset"
						},
						"destination": {
							"fileName": "dboolist_orders_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_products_dataset"
						},
						"destination": {
							"fileName": "dboolist_products_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_sellers_dataset"
						},
						"destination": {
							"fileName": "dboolist_sellers_dataset.csv"
						}
					},
					{
						"source": {
							"table": "product_category_name_translation"
						},
						"destination": {
							"fileName": "dboproduct_category_name_translation.csv"
						}
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-08T00:23:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}